.algn{
  
    padding-inline-start: 3px;
    margin-block-end: 2px;
 
 }
 
 .plainli {
 
     list-style-type: none;
 }
 
 .checkboxcss{
 
     margin:0px 5px!important
 }
 
 .headingmargin {
 
 margin-top:20%;
 
 }
